@font-face {
    font-family: Gothic;
    src: url("Font/Balgruf.otf");
}

html {
    font-family: Gothic;
}

table
{
    width: 100%;
    text-align: center;
}

img
{
    display: block;
    width: 30vh;
    margin: 0 auto;
}